name: "Build"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: "Build Package"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - name: Install dependencies
        run: yarn

      - name: Build Image
        run: yarn run build

      - name: Test Install
        run: yarn link 
      
      
